<html>
<head>
    <title>Chat</title>
</head>
<body>
<div class="chat">
    <div class="chat-title">
        <h1>Chat</h1>
        <h2>Spring Boot</h2>
        <figure class="avatar">
            <img src="http://placehold.it/50x50">
        </figure>
    </div>
    <div class="messages">
        <div class="messages-content"></div>
    </div>
    <div class="message-box">
        <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
        <button type="submit" class="message-submit">Send</button>
    </div>
</div>
</body>
</html>